Source: lua-fun
Section: interpreters
Priority: optional
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9), dh-lua (>= 19)
Standards-Version: 3.9.6
Homepage: https://github.com/rtsisyk/luafun
Vcs-Git: git://github.com/rtsisyk/msgpuck.git
Vcs-Browser: https://github.com/rtsisyk/luafun

Package: lua-fun
Architecture: all
Depends: ${misc:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: High-performance functional programming library for Lua
 Lua Fun provides a set of more than 50 programming primitives typically
 found in languages like Standard ML, Haskell, Erlang, JavaScript, Python and
 even Lisp. High-order functions such as map, filter, reduce, zip, etc.,
 make it easy to write simple and efficient functional code.
